/target
/secrets
**/*.rs.bk
**/*.swp
**/*.swo
**/*.tmp
**/*.log
.git
.gitignore
docker/tests
docker/plugin-build
docker/plugin
docker/dist
docker/compose.*
docker/docker-bake.hcl
docker/Dockerfile
docker/build-plugin.sh
dist-workspace.toml
rust-toolchain.toml
docs
tests
.github
.vscode
tests
/*.dev.toml
/*.md
runfile.toml
release.toml
**bake-meta.json
.env
.envrc
