# Runnables for secret-sidecar (usable with `runnables-cli`)

[build]
description = "cargo build (release)"
cmd = "cargo build --release"

[once]
description = "cargo run -- --mode one-shot"
cmd = "cargo run -- run --mode one-shot"

[help]
description = "cargo run -- --help"
cmd = "cargo run -- --help"

[health]
description = "cargo run -- healthcheck"
cmd = "cargo run -- healthcheck"

[watch]
description = "cargo run"
cmd = "cargo run -- run"

[test]
description = "cargo test"
cmd = "cargo test"

[fmt]
description = "cargo fmt --all"
cmd = "cargo fmt --all"

[clippy]
description = "cargo clippy -- -D warnings"
cmd = "cargo clippy --all-targets -- -D warnings"

[docker-build]
description = "docker build dev image"
cmd = "VERSION=$(cargo run --quiet -- --version | cut -d' ' -f2)-dev docker buildx bake -f docker-bake.hcl release --load"

[docker-test]
description = "Run test of docker image"
cmd = "docker compose -f compose.sample.yaml -p demo up"

[release-patch]
description = "Bump patch version and execute release"
cmd = "cargo release patch --execute"

[release-minor]
description = "Bump minor version and execute release"
cmd = "cargo release minor --execute"

[release-major]
description = "Bump major version and execute release"
cmd = "cargo release major --execute"
