# Runnables for locket (usable with `runnables-cli`)

[build]
description = "cargo build (release)"
cmd = "cargo build --release"

[once]
description = "run in one shot mode"
cmd = "cargo run -- inject --config ../config.inject.toml --mode one-shot"

[help]
description = "get help string for inject"
cmd = "cargo run -- inject --help"

[health]
description = "cargo run -- healthcheck"
cmd = "cargo run -- healthcheck"

[watch]
description = "run in watch mode"
cmd = "cargo run -- inject --config ../config.inject.toml --mode watch"

[exec-watch]
description = "Run exec in watch mode with python3"
cmd = "cargo run -- exec --watch --interactive -- python3"

[test]
description = "cargo test"
cmd = "cargo test --features testing"

[fmt]
description = "cargo fmt --all"
cmd = "cargo fmt --all"

[clippy]
description = "cargo clippy -- -D warnings"
cmd = "cargo clippy --all-targets -- -D warnings"

[docker-build]
description = "docker build dev image"
cmd = "VERSION=$(cargo run --quiet -- --version | cut -d' ' -f2)-dev docker buildx bake -f docker-bake.hcl all --load"

[docker-test-dbg]
description = "Run test of docker image"
cmd = "docker compose -f compose.debug.yaml run --remove-orphans --rm --entrypoint /bin/sh locket"

[docker-test]
description = "Run test of docker image"
path = "tests/docker/sidecar"
cmd = "docker compose -f compose.tests.yaml -p tests up"

[docker-provider]
description = "Run test of docker provider"
path = "tests/docker/provider"
cmd = "docker compose --verbose -p provider up"

[release-rc]
description = "Create a release candidate from the current version"
cmd = "cargo release rc --execute --no-publish"

[release-promote]
description = "Promote a release candidate to a full release and push"
cmd = "cargo release release --execute"

[release-patch]
description = "Bump patch version and execute release"
cmd = "cargo release patch --execute"

[release-minor]
description = "Bump minor version and execute release"
cmd = "cargo release minor --execute"

[release-major]
description = "Bump major version and execute release"
cmd = "cargo release major --execute"

[docs]
description = "Generate clap derived docs"
cmd = "cargo xtask docs"
