# Runnables for secret-sidecar (usable with `runnables-cli`)

[build]
description = "cargo build (release)"
cmd = "cargo build --release"

[once]
description = "cargo run -- --once"
cmd = "cargo run -- --once"

[help]
description = "cargo run -- --help"
cmd = "cargo run -- --help"

[watch]
description = "cargo run"
cmd = "cargo run"

[test]
description = "cargo test"
cmd = "cargo test"

[fmt]
description = "cargo fmt --all"
cmd = "cargo fmt --all"

[clippy]
description = "cargo clippy -- -D warnings"
cmd = "cargo clippy --all-targets -- -D warnings"

[docker-build]
description = "docker build dev image"
cmd = "docker build -t secret-sidecar:dev ."

[docker-run-test]
description = "Run test of docker image"
cmd = "docker compose -f compose.sample.yaml -p demo up"