name: Publish

on:
  push:
    tags:
      - '**[0-9]+.[0-9]+.[0-9]+*'


permissions:
  contents: write
  packages: write

jobs:
  docker:
    name: Build / Push Docker Images
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Calculate Version and Pre-release State
        id: meta
        run: |
          REF="${GITHUB_REF_NAME}"
          CLEAN_VERSION="${REF#v}"
          
          echo "VERSION=$CLEAN_VERSION" >> $GITHUB_ENV
          
          # Bash check: Does the version contain a hyphen?
          if [[ "$CLEAN_VERSION" == *"-"* ]]; then
             echo "IS_PRERELEASE=true" >> $GITHUB_ENV
             echo "prerelease"
          else
             echo "IS_PRERELEASE=false" >> $GITHUB_ENV
          fi

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build / Push
        run: |
          docker buildx bake -f docker-bake.hcl release --push

  gh-release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    needs: docker
    steps:
      - uses: actions/checkout@v4      
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          prerelease: true