name: Publish

on:
    push:
        tags:
            - "**[0-9]+.[0-9]+.[0-9]+*"

permissions:
    contents: write
    packages: write
    actions: write

jobs:
    docker:
        name: Build / Push Docker Images
        runs-on: ubuntu-latest
        env:
            BUILDX_BAKE_ENTITLEMENTS_FS: 0
        steps:
            - uses: actions/checkout@v6

            - name: Calculate Version and Pre-release State
              id: meta
              run: |
                  REF="${GITHUB_REF_NAME}"
                  CLEAN_VERSION="${REF#v}"

                  echo "VERSION=$CLEAN_VERSION" >> $GITHUB_ENV

                  # Bash check: Does the version contain a hyphen?
                  if [[ "$CLEAN_VERSION" == *"-"* ]]; then
                     echo "IS_PRERELEASE=true" >> $GITHUB_ENV
                     echo "prerelease"
                  else
                     echo "IS_PRERELEASE=false" >> $GITHUB_ENV
                  fi

            - name: Setup Registries
              run: |
                  REGS="ghcr.io/${{ github.repository_owner }}"

                  if [ -n "${{ secrets.DOCKERHUB_USERNAME }}" ]; then
                    REGS="${REGS},docker.io/${{ secrets.DOCKERHUB_USERNAME }}"
                  fi

                  echo "REGISTRIES=$REGS" >> $GITHUB_ENV

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
              with:
                  driver: docker-container

            - name: Login to GHCR
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Login to Docker Hub
              if: ${{ secrets.DOCKERHUB_USERNAME != '' }}
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build / Push
              working-directory: docker
              env:
                  REGISTRIES: ${{ env.REGISTRIES }}
              run: |
                  docker buildx bake \
                      --allow=fs.read=.. \
                      -f docker-bake.hcl \
                      release \
                      --push \
                      --metadata-file metadata.json

            - name: Create and Push Managed Plugins
              working-directory: docker
              run: |
                  ./build-plugin.sh ./metadata.json --push
