name: Publish

on:
    push:
        tags:
            - "**[0-9]+.[0-9]+.[0-9]+*"

permissions:
    contents: write
    packages: write

jobs:
    docker:
        name: Build / Push Docker Images
        runs-on: ubuntu-latest
        env:
            BUILDX_BAKE_ENTITLEMENTS_FS: 0
        steps:
            - uses: actions/checkout@v6

            - name: Calculate Version and Pre-release State
              id: meta
              run: |
                  REF="${GITHUB_REF_NAME}"
                  CLEAN_VERSION="${REF#v}"

                  echo "VERSION=$CLEAN_VERSION" >> $GITHUB_ENV

                  # Bash check: Does the version contain a hyphen?
                  if [[ "$CLEAN_VERSION" == *"-"* ]]; then
                     echo "IS_PRERELEASE=true" >> $GITHUB_ENV
                     echo "prerelease"
                  else
                     echo "IS_PRERELEASE=false" >> $GITHUB_ENV
                  fi

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to GHCR
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build / Push
              working-directory: docker
              env:
                  CACHE_FROM: type=gha
                  CACHE_TO: type=gha,mode=max
              run: |
                  docker buildx bake --allow=fs.read=.. -f docker-bake.hcl release --push
